	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,tr,td,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,audio,canvas,datalist,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,subline,summary,time,video{margin:0;padding:0;border:0;outline:0;font-size:100%}ol,ul{list-style:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}img,article,aside,audio,canvas,datalist,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,subline,summary,time,video{display:block}
body{
  width:100%;
}
p{
  line-height: 2;
}


header{
  background-color:#009aff;
  background-repeat:repeat;
  text-align: center;
  height: 160  px;
  align-items: center;
  justify-content: center;
  line-height: 3;
}

/*nav*/
nav{
  height : 35px;
  box-shadow: 1px 2px #888888;
}

a{
  text-decoration: none;
  color:white;
}

.titre1:hover, .titre2:hover, .titre3:hover{
  background-color: black;
}

#menu{
  background-color: red;
  text-align: center;
  display: flex;
  flex-direction: rows;
  line-height: 35px;
  justify-content: center;
}
.titre1, .titre2, .titre3{
  margin-right: 30px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
}

#menu li {
  display: inline ;
  margin-right: 1px ;

}


/*fin de nav*/



h1{
  font-size: 3.75em;
}
h2{
  font-size: 1em;
}



form{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 50px;
  opacity:0.5;
}

iframe{
  width: 100%;
}

p{
  font-size: 1.000em
  padding-bottom: 20px;
}

footer{
  background-color: blue;
  color: white;
  height: 30px;
}

input{
  border:none;
}

.images{
  display: inline-block;
  background-size: cover;
  width: 150px;
  height: 150px;
}


.text{
    width: 100px;
    display: inline-block;
    margin:25px;
}

.stitre1{
    display: flex;
    flex-direction: row;
}

.md{
  font-weight:bold;
  font-size: 1.125em;
}

  .terre{
    width: 480px;
    height: 380px;
transform: rotateX(20deg);  

  }

#container{
    display:flex;
  }

#container2
{
width: 100%;
display: flex;
justify-content: space-around;
}
